.page {
  padding: 20px;

  h2 {
    font-size: 30px;
    margin: 20px;
  }
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 10px;
  max-width: 700px;
}

.theme {
  p {
    padding: 20px;
    border-radius: 10px;
    transition: all .2s;
  }

  display: flex;
  max-width: 700px;
  gap: 20px;
  flex-wrap: wrap
}

.active {
  background: rgb(0, 136, 0) !important;
}