.item{
display: flex;
gap: 10px;
width: 100%;
}

.itemInfo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.itemInfoTop{
  display: flex;
  justify-content: space-between;
}

.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}