.item-1 {
  border-radius: 4px;
  padding: 10px;

  * {
    color: white
  }

}

.item-2 {
  border: 1px solid rgba(181, 181, 181, 1);
  border-radius: 4px;
  padding: 10px;
  background: rgba(181, 181, 181, 1);

  * {
    color: rgb(0, 0, 0)
  }

}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.item-red-round {
  left: -20px;
  position: relative;
  border-radius: 50%;
  background: rgb(142, 0, 0);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.point {
  width: 10px;
  height: 10px;
  background: rgb(142, 0, 0);
  border-radius: 50%;
  margin-right: auto;
  position: relative;
  left: -26px;
  top: -12px;
}


.notification {
  display: flex;
  z-index: 10;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 300px;
  height: 100px;
  padding: 10px;
  animation: received 5s forwards linear;
  overflow: hidden;

  img{
    width: 50px;
    height: 50px;
    margin: auto 0;
    border-radius: 50%;
  }

  p {
    :nth-child(1) {
      font-size: 22px !important;
    }

    :nth-child(2) {
      word-wrap: break-word;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }
}

.notification-1 {
  border-radius: 3px;
}