.data {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;

  @media(max-width: 767px) {
    flex-direction: column
  }

}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  width: 230px;
  min-height: 230px;
  min-width: 230px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  input {
    width: 50px;
  }

  img {
    height: 230px;
    width: 230px;
    object-fit: cover;
    
  }

  @media(max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info {
  width: 100%;
  overflow: hidden;

  table {
    width: 100%;
    height: 100%;

    @media (max-width: 767px) {
      td {
        padding: 10px 0;
      }

      scale: 0.9;
      translate: -18px 0;
    }

    td {
      margin: 10px 0;
      width: 100%;
    }
  }
}

.bio {
  margin-top: 50px;
  word-wrap: break-word;
}

input {
  margin: auto 0;

}

.editable {
  display: flex;

  @media (max-width: 767px) {
    width: 192px;
  }

  button {
    width: 33%;
  }

  input {
    width: 67%;
  }

}

.editableBio {
  display: flex;
  flex-direction: column;

  textarea {
    height: 200px;
  }
}

.imgEditIcon {
  border-radius: 50%;
  background: rgb(0, 54, 154);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  cursor: pointer
}