.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
  transition: all .2s;
}

.active {
  pointer-events: all;
  background: rgb(91, 91, 91);
  left: 0% !important;
}

.main{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  transition: all .2s;
  position: fixed;
  top: 60px;
  left: -320px;
  width: 320px;
  background: rgb(48, 48, 48);
  height: 100vh;
  z-index: 3;
}

.navbarItems {
width: 100%;

}

.navbarItemsDesktop{
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 30px;
}

.logo {

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.top {
  height: 60px;
  background: rgba(48, 48, 48);
  z-index: 3;
  position: relative;
}

.burgerBtn {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbarItemDesktop {
  height: 25px;
  height: 25px;
}

.navbarItem {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  border-bottom: 1px rgb(63, 63, 63) solid;
}

.icon {
  height: 100%;

  svg {
    height: 100%;
    width: 70%;
  }
}

